body {
    background-image: url('https://e0.pxfuel.com/wallpapers/232/924/desktop-wallpaper-miui-12-ytechb-exclusive-fondos-de-pantalla-para-iphone-fondo-de-pantalla-de-android-fondos-de-pantalla-para-samsung-galaxy-cool-mars.jpg');
    background-size: cover; /* Ajusta la imagen al tamaño de la ventana */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen *</
    /* Otros estilos personalizados para el contenido de la página */
  }
.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ce1616;
  }
