body {
    background-image: url('https://previews.123rf.com/images/mbgraphicdesign/mbgraphicdesign2306/mbgraphicdesign230600772/206806647-paisaje-m%C3%A1gico-fondo-de-pantalla-de-anime.jpg');
    background-size: cover; /* Ajusta la imagen al tamaño de la ventana */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen *</
    /* Otros estilos personalizados para el contenido de la página */
  }
/* Estilo para las transacciones */
#transacciones li {
    margin-bottom: 10px;
}

/* Estilo para el contenedor principal */
.container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background: linear-gradient(to bottom, #4fc3f7, #000);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

/* Estilo para los títulos */
h1, h3 {
    color: #fff;
}

/* Estilo para campos de entrada y select */
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

/* Estilo para las opciones de select */
select option {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

/* Estilo para los elementos de lista */
#transacciones li {
    margin-bottom: 10px;
}
